	body{margin: 0;}
	td{
		border-bottom: 1px solid #ddd;
		padding: 5px;
	}
	.event{
			padding: 10% 5% 5% 5%;
	}
	.bannerbg{
			background: url("../images/1.jpg") no-repeat 0px,0px;
			background-size:cover;
			background-attachment: fixed;
			height: 100%;
	}
	.banner2{
			background: url("../images/1.jpg") no-repeat 0px,0px;
			background-size:cover;
			background-attachment: fixed;
			height: 100%;
	}
	.banner {
			text-align: center;
			padding: 8% 0 9% 0;
	}
	.banner h1{
			font-size: 1.6em;
			font-family: 'Roboto', sans-serif;
			font-weight: 100;
			color: #ffffff;
			letter-spacing: 1px;
			margin-bottom: 0px;
	}
	.banner h2{
			font-size: 1.4em;
			font-family: 'Roboto', sans-serif;
			color: #ffffff;
			line-height: 1;
			margin-top: 5px;
			letter-spacing: 3px;
	}
	.banner p{
			font-size: 0.9em;
			font-family: 'Roboto', sans-serif;
			color: #ffffff;
			letter-spacing: 1px;
	}
	
	.ecsa-logo img{
			width: 480px;
	}
	.cusat-logo img{
			width: 80px;
	}
	.fimg{
			margin-top: 5%;
			padding: 0 5% 5% 0;
	}
	.quote{
		padding: 20% 5% 20% 5%;
	}
	@media screen and (max-width: 991px){
		.quote{
		padding: 10% 0;
	}
	}
	@media screen and (max-width: 767px)
{
	
			.event{
			padding: 10% 0 5% 0;
	}
			.banner{
			text-align: left;
			padding: 12% 5% 6% 5%;
	}
			.ecsa-logo img{
			padding: 10% 0 5% 0;
			height: 80%;
			width: 80%;
	}
			.banner h1{
			font-size: 1.6em;
			font-weight: 100;
			letter-spacing: 1px;
			margin-bottom: 0px;
	}
			.banner h2{
			padding: 2% 0 0 0;
			font-size: 1.2em;
			line-height: 1;
			margin-top: 5px;
			letter-spacing: 0px;
	}
			.banner p{
			padding: 5% 0 0 0;
			font-size: 0.9em;
			letter-spacing: 1px;
			width: 60%;
	
	}	
			.cusat-logo img{
			padding: 5% 0 10% 0;
			width: 60px;
	}		
}
	@media screen and (max-width: 991px)
	{
					.fimg{
			margin-top: 5%;
			padding: 0 5% 5% 5%;
	}
	}